@import 'tailwindcss';

:root{
  --gradient-bg:linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
}


.gradient-bg {
  background-image: var(--gradient-bg)
}

#root {
  height: 100vh;
}